@use "../global/" as g;

html {
  // scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  min-width: g.$content_width;
  line-height: 1;
  color: g.$text_color;
  font-family: var(--font-ja-primary);
}

img { vertical-align: bottom; height: auto; }

.l-inner-wrap {
  margin: 0 auto;
  padding: 0 80px;
  width: 100%;
  max-width: calc(g.$content_width + 160px);
}

@media only screen and (max-width: #{g.$breakpoint}px) {
  html { font-size: 62.5%; scroll-padding-top: g.get_vw(160); }

  body { min-width: auto; }

  .l-inner-wrap {
    padding: 0;
    width: g.$content_width_sp;
  }
}
