@use "../global/" as g;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  color: #fff;
  transition: all .3s;
  &__inner {
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(g.$content_width + 160px);
    height: 100%;
  }
  &__logo { width: 50px; filter: brightness(0) invert(1); transition: filter .3s;
    &-link { color: #fff; transition: opacity .3s;
      @include g.hover() { opacity: .7; }
    }
    &-img { width: 100%; }
  }
  &__nav {
    &-list {
      display: flex;
      gap: 0 50px;
    }
    &-item {
      font-family: var(--font-en-primary);
      font-size: 20px;
      font-weight: 500;
      letter-spacing: .1em;
    }
    &-link { position: relative; color: #fff; transition: opacity .3s; cursor: pointer;
      &::after {
        margin: 0 auto;
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        width: 0;
        height: 2px;
        content: "";
        background: #fff;
        transition: all .3s;
      }
      &:hover {
        &::after { width: 100%; }
      }
      &.is-active {
        &::after { width: 100%; }
      }
    }
  }
  &.is-fixed { background: #fff; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .04);
    .l-header__logo { filter: none; }
    .l-header__nav-link { color: #333;
      &::after { background: g.$primary_color; }
    }
  }
}
